# lists part 2

In [2]:
l1=[1,2,3,4,5]

In [2]:
l2=[5,6,7,53,22]

In [3]:
new_list=l1 # here we are referencing to the list .so changes made in the l1 or new_list will affect to the both

In [4]:
# so we don't want this kind of changes in the list copied

In [5]:
new_list.append(100)

In [6]:
new_list

[1, 2, 3, 4, 5, 100]

In [7]:
l1

[1, 2, 3, 4, 5, 100]

In [8]:
#Whatâ€™s happening is that a reference to the list is shared among  first and second.

In [9]:
# we will use the copy method which helps to solve this problem

In [16]:
new_list2=l2.copy()  # copy the objects in the existing list

In [12]:
new_list2

[5, 6, 7, 53, 22]

In [13]:
new_list2.append(99)

In [14]:
new_list2

[5, 6, 7, 53, 22, 99]

In [15]:
l2 # no changes occured in l2

[5, 6, 7, 53, 22]

1.When used with lists, start, stop, and step are specified within the square brackets and 
are separated from one another by the colon (:) character: 
2.letters[start:stop:step]

# list slicing

In [17]:
str1="Indrasena is a data scientist"

In [18]:
l1=list(str1)

In [19]:
l1

['I',
 'n',
 'd',
 'r',
 'a',
 's',
 'e',
 'n',
 'a',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't']

In [20]:
l1[0:10]

['I', 'n', 'd', 'r', 'a', 's', 'e', 'n', 'a', ' ']

In [21]:
l1[0:10:2] # gives every second  table letters simply indexes at the 2,4,6,8
# skips one letter at a time and gives next letter
# takes two strides at a time ex--> 1,2 and prints 2
#

['I', 'd', 'a', 'e', 'a']

In [3]:
l1[1:11:3] # starts at index 1 then skips two values and prints third one

[2, 5]

In [5]:
title="Phanindra is a Data Scientist"

In [6]:
title[0:10]

'Phanindra '

In [15]:
title_list=list(title)

In [8]:
title_list

['P',
 'h',
 'a',
 'n',
 'i',
 'n',
 'd',
 'r',
 'a',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't']

## *****

In [10]:
title_list[0:4] # select the first three objects from the list

['P', 'h', 'a', 'n']

In [11]:
''.join(title_list[0:5]) # turn the selected range into a list

'Phani'

In [18]:
''.join(title_list) # join function converts list of characters into a string

'Phanindra is a Data Scientist'

In [21]:
title[-9:] # start from -9 and go to end

'Scientist'

In [23]:
title[12:9:-1] # here -1 is there which means takes backward stride which means first value should be greater here

' si'

In [24]:
title[::-1] # which means here start value is 29 and end value is 0 
# since -1 is there interpreter treats as like above values

'tsitneicS ataD a si ardninahP'

In [25]:
len(title)

29

In [26]:
title[0:29:-1]

''

In [27]:
title[29:0:-1]

'tsitneicS ataD a si ardninah'

In [28]:
title[-10:-3:1]

' Scient'

In [37]:
title[-4:-11:-1]

'tneicS '

In [31]:
''.join(title_list[-10:])

' Scientist'

In [33]:
'&'.join(title_list)

'P&h&a&n&i&n&d&r&a& &i&s& &a& &D&a&t&a& &S&c&i&e&n&t&i&s&t'

In [34]:
title_list

['P',
 'h',
 'a',
 'n',
 'i',
 'n',
 'd',
 'r',
 'a',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't']

In [38]:
# convert "Don't panic" to "on tap"

In [46]:
str="Don't panic!"

In [47]:
list1=list(str)

In [48]:
list1

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [49]:
for i  in range(4):
    list1.pop()

In [50]:
list1

['D', 'o', 'n', "'", 't', ' ', 'p', 'a']

In [51]:
list1.pop(0)

'D'

In [52]:
list1.remove("'")

In [53]:
list1

['o', 'n', 't', ' ', 'p', 'a']

In [54]:
list1.extend([list1.pop(),list1.pop()]) # last 2 values are reversed simply here

In [55]:
list1

['o', 'n', 't', ' ', 'a', 'p']

In [56]:
list1.insert(2,list1.pop(3))

In [57]:
list1

['o', 'n', ' ', 't', 'a', 'p']

In [58]:
list2=''.join(list1)

In [59]:
list2

'on tap'

In [60]:
# using the square bracket notations

In [61]:
str="Don't panic!"

In [63]:
str[1:3]+str[5]+str[4]+str[7:5:-1]

'on tap'

1.here we used the two methods
2.slicing the list method
3.using the list methods such as pop,insert
 
 # slicing is non destructive which means original list will not be altered
 ## where as the list methods are destructive which will change the original list itself

In [64]:
for i in title_list:
    print(i)

P
h
a
n
i
n
d
r
a

i
s

a

D
a
t
a

S
c
i
e
n
t
i
s
t

In [65]:
for i in title_list[3:10]: # to print only from 3 to 10
    print(i)

n
i
n
d
r
a

In [ ]:
 # ''.join(list_name) -->This line takes the list and turns it back into a string.