# Dictionaries-part2

### use not in operator to initialiase the non existent keys

In [2]:
fruits=["apple","banana","mango","apple","kiwi","mango","badam","grapes","sapota"]

In [8]:
d1={}
for fruit in fruits: # initialsing all the fruits to zero before accessing them
    if fruit not in d1:
        d1[fruit]=0
print(d1)

{'apple': 0, 'banana': 0, 'mango': 0, 'kiwi': 0, 'badam': 0, 'grapes': 0, 'sapota': 0}

# setdefault
--> helps to avoid the key error exception which occurs when any key is not found in the dictionary

In [10]:
if "pears" not in fruits:
    d1["pears"]=0
   # The setdefault method does what the twoline if/not in statements do, but uses only a single line of code.

In [11]:
d1

{'apple': 0,
 'banana': 0,
 'mango': 0,
 'kiwi': 0,
 'badam': 0,
 'grapes': 0,
 'sapota': 0,
 'pears': 0}

In [12]:
# instead of the two lines used above we can use the single line setdefault here and execute
# setdefault will helps to initialise the non existent key to the value user provide if the key doesn't exist

In [13]:
d1.setdefault("lemon",10) # since lemon is not exist so it worked here

10

In [14]:
d1

{'apple': 0,
 'banana': 0,
 'mango': 0,
 'kiwi': 0,
 'badam': 0,
 'grapes': 0,
 'sapota': 0,
 'pears': 0,
 'lemon': 10}

In [17]:
d1.setdefault("banana",7) # since the banana key is already there so it won't changes to the 7 value because the effect won't takes place on the existent key

0

In [18]:
d1

{'apple': 0,
 'banana': 0,
 'mango': 0,
 'kiwi': 0,
 'badam': 0,
 'grapes': 0,
 'sapota': 0,
 'pears': 0,
 'lemon': 10}

In [29]:
d1={}
for fruit in fruits: # initialsing all the fruits to zero before accessing them
        d1.setdefault(fruit,0) # this will set fruit to zero if it is not found
        if fruit in d1:
            d1[fruit]+=1
print(sorted(d1.items()))

[('apple', 2), ('badam', 1), ('banana', 1), ('grapes', 1), ('kiwi', 1), ('mango', 2), ('sapota', 1)]

# SETS

Sets: simply convert the long 
list of names to a set (which removes the duplicates), then convert the set back to a list 
and—ta da!—you have a list of unique first names

In [1]:
#. As lists always perform slow sequential searches, sets should always be preferred for lookup.

In [2]:
set1={'a',"e","i","o","a","e","i","u","i"}

In [4]:
set1

{'a', 'e', 'i', 'o', 'u'}

In [5]:
print(set1)

{'u', 'o', 'e', 'a', 'i'}

In [6]:
# here duplicates are removed from set and we got unique elements but not in particular order
# sets also uses the { } but there will be colon in dictionary,here no colon in sets.

In [7]:
type({})

dict

In [8]:
type({1,})

set

In [12]:
l1=[1,2,3,4,5,6,7,5,4,3,2,1]
y=set(l1) # we can convert a list to  a set
print(y)
z=list(y)
print(z)

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

1. Insertion order is not maintained by the interpreter when a set is used. However. like all other data 
   structures, sets can be ordered on output with the sorted function.

2.you can pass any sequence (such as a string) to the set function to quickly generate a set

In [13]:
str1="Indra is the greatest Data scientist"

In [14]:
set(str1)

{' ', 'D', 'I', 'a', 'c', 'd', 'e', 'g', 'i', 'n', 'r', 's', 't'}

In [15]:
len(set(str1))

13

In [16]:
vowels=set("aeiou")
word=set("Indrasena is the best")

In [23]:
x=vowels.union(word) # This new variable is a combination of the objects in both sets (a union):
#The “x” set consists of all the unique objects from both sets.

In [24]:
print(x)

{'t', 'a', 'o', 'r', 'i', ' ', 'n', 's', 'd', 'e', 'h', 'u', 'I', 'b'}

In [22]:
print(x)

{'t', 'a', 'o', 'r', 'i', ' ', 'n', 's', 'd', 'e', 'h', 'u', 'I', 'b'}

In [25]:
new_list=sorted(list(x))

In [26]:
new_list

[' ', 'I', 'a', 'b', 'd', 'e', 'h', 'i', 'n', 'o', 'r', 's', 't', 'u']

In [30]:
diff=vowels.difference(word) # comapares both and removes common elements in vowles and returns only unique elements from the vowles set

In [31]:
diff # The “diff” set consists of all the objects in “vowels” that aren’t in “set(word)”.

{'o', 'u'}

In [34]:
int_sec=vowels.intersection(word) # which gives the common elements present in both the sets

In [35]:
int_sec

{'a', 'e', 'i'}

In [36]:

vowels = ['a', 'e', 'i', 'o', 'u']
word = input("Provide a word to search for vowels: ")
found = []
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)
for vowel in found:
 print(vowel)

Provide a word to search for vowels: indrsena
i
e
a

In [37]:
# we can use single line by using sets and get the results instead of using five lines

In [38]:
vowels = set("aeiou")
word = input("Provide a word to search for vowels: ")
s1=set(word)
found =vowels.intersection(s1) 
for vowel in found:
    print(vowel)

Provide a word to search for vowels: Maharaja is me only.
e
o
a
i

# using the set was perfet choice here.
Important observation
But that’s not to say that the two other data structures don’t have their uses.
For instance, if you need to perform, say, a frequency count, Python’s dictionary works best.
However, if you are more concerned with maintaining insertion order, then only a list will do...which is almost true

# Storing a Table of Data
As everything is an object, any of the built-in data structures can be stored in any 
other built-in data structure, enabling the construction of arbitrarily complex data 
structures...subject to your brain’s ability to actually visualize what’s going on. For 
instance, although a dictionary of lists containing tuples that contain sets of dictionaries

# complex data structures
## Nested dictionaries

In [41]:
dict1={"Phani":{"age":58,"class":12,"height":180,"salary":50000000},
       "ram":{"age":23,"class":5,"height":150,"salary":2000000},
       "raja":{"age":34,"class":22,"height":200,"salary":100000}}

In [42]:
dict1["raja"]

{'age': 34, 'class': 22, 'height': 200, 'salary': 100000}

In [43]:
dict1["raja"]["age"]

34

1.Using double square brackets lets you access any data value from a table by 
identifying the row and column you are interested in. The row corresponds to a 
key used by the enclosing dictionary (people, in our example), while the column 
corresponds to any of the keys used by an embedded dictionary

## pprint
# The standard library includes a module called pprint that can take any data 
structure and display it in a easier-to-read format. The name pprint is a 
shorthand for “pretty print.”

In [47]:
# Pretty printing complex data structures
dict1={"Phani":{"age":58,"class":12,"height":180,"salary":50000000},"ram":{"age":23,"class":5,"height":150,"salary":2000000}, "raja":{"age":34,"class":22,"height":200,"salary":100000}}
dict1

{'Phani': {'age': 58, 'class': 12, 'height': 180, 'salary': 50000000},
 'ram': {'age': 23, 'class': 5, 'height': 150, 'salary': 2000000},
 'raja': {'age': 34, 'class': 22, 'height': 200, 'salary': 100000}}

In [48]:
import pprint
pprint.pprint(dict1)

{'Phani': {'age': 58, 'class': 12, 'height': 180, 'salary': 50000000},
 'raja': {'age': 34, 'class': 22, 'height': 200, 'salary': 100000},
 'ram': {'age': 23, 'class': 5, 'height': 150, 'salary': 2000000}}

In [51]:
persons={'Ford': {'Occupation': 'Researcher', 'Gender': 'Male', 
'Home Planet': 'Betelgeuse Seven', 'Name': 'Ford Prefect'}, 
'Trillian': {'Occupation': 'Mathematician', 'Gender': 
'Female', 'Home Planet': 'Earth', 'Name': 'Tricia McMillan'}, 'Robot': {'Occupation': 'Paranoid Android', 
'Gender': 'Unknown', 'Home Planet': 'Unknown', 'Name': 
'Marvin'}, 'Arthur': {'Occupation': 'Sandwich-Maker', 
'Gender': 'Male', 'Home Planet': 'Earth', 'Name': 'Arthur Dent'}}

In [52]:
persons

{'Ford': {'Occupation': 'Researcher',
  'Gender': 'Male',
  'Home Planet': 'Betelgeuse Seven',
  'Name': 'Ford Prefect'},
 'Trillian': {'Occupation': 'Mathematician',
  'Gender': 'Female',
  'Home Planet': 'Earth',
  'Name': 'Tricia McMillan'},
 'Robot': {'Occupation': 'Paranoid Android',
  'Gender': 'Unknown',
  'Home Planet': 'Unknown',
  'Name': 'Marvin'},
 'Arthur': {'Occupation': 'Sandwich-Maker',
  'Gender': 'Male',
  'Home Planet': 'Earth',
  'Name': 'Arthur Dent'}}

In [53]:
pprint.pprint(persons) # here the data is prettily printed which means the data will look good

{'Arthur': {'Gender': 'Male',
            'Home Planet': 'Earth',
            'Name': 'Arthur Dent',
            'Occupation': 'Sandwich-Maker'},
 'Ford': {'Gender': 'Male',
          'Home Planet': 'Betelgeuse Seven',
          'Name': 'Ford Prefect',
          'Occupation': 'Researcher'},
 'Robot': {'Gender': 'Unknown',
           'Home Planet': 'Unknown',
           'Name': 'Marvin',
           'Occupation': 'Paranoid Android'},
 'Trillian': {'Gender': 'Female',
              'Home Planet': 'Earth',
              'Name': 'Tricia McMillan',
              'Occupation': 'Mathematician'}}